@import "bourbon/_bourbon";
@import "base/_base";

main {
  display: flex;

  div {
    margin: 0 0.5% 0 0.5%;
  }

  .chef, .line-cooks, .waiter {
    width: 20%;
  }

  .chef {
    h2 {
      color: #963334;
    }
  }

  .line-cooks {
    h2 {
      color: #8BAB42;
    }
  }

  .tables {
    width: 35%;

    h2 {
      color: #00b2ff;
    }
  }

  .narrow {
    width: 5em;
  }
}

h1 {
  text-align: center;
}

footer {
  text-align: center;

  p {
    color: red;
  }
}
