@import "bourbon/_bourbon";
@import "base/_base";

main {
  display: flex;

  div {
    margin: 0 0.5% 0 0.5%;
  }

  .chef, .line-cooks {
    width: 30%;
  }

  .tables {
    width: 40%;
  }

  .narrow {
    width: 5em;
  }
}

h1 {
  text-align: center;
}

footer {
  text-align: center;

  p {
    color: red;
  }
}
